
# build and dependencies=
**/_build
**/deps
mix.lock

# reload files
/reload*
/kos-reload*

# super secret stuff
/*_secrets
simulation_secrets/

# images
*.img

# that pesky .DS_Store file
.DS_Store

# VSCode stuff
.vscode/